<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.secu.team5.address.mapper.AddressInfoMapper">
	<select id="selectAddressInfo"
		resultType="com.secu.team5.address.vo.AddressInfoVO">
		SELECT AI.*
		FROM ADDR_INFO AI
		WHERE AI.UI_NUM = #{uiNum}
	</select>
	<insert id="insertAddressInfo" useGeneratedKeys="true"
		keyProperty="aiNum">
		INSERT INTO ADDR_INFO(UI_NUM, AI_ADDRESS, AI_TYPE,
		AI_APARTMENT, AI_JIBUNADDRESS, AI_JIBUNADDRESSENGLISH, AI_ROADADDRESS,
		AI_ROADADDRESSENGLISH, AI_ZONECODE, AI_BUILDINGNAME, AI_EXTRAADDRESS,
		AI_DETAILADDRESS)
		VALUES(#{uiNum}, #{aiAddress}, #{aiType},
		#{aiApartment}, #{aiJibunAddress}, #{aiJibunAddressEnglish},
		#{aiRoadAddress}, #{aiRoadAddressEnglish},
		#{aiZoneCode}, #{aiBuildingName}, #{aiExtraAddress}, #{aiDetailAddress})
	</insert>

	<update id="updateAddressInfo">
		UPDATE ADDR_INFO SET AI_ADDRESS=#{aiAddress},
		AI_TYPE=#{aiType}, AI_APARTMENT=#{aiApartment},
		AI_JIBUNADDRESS=#{aiJibunAddress},
		AI_JIBUNADDRESSENGLISH=#{aiJibunAddressEnglish},
		AI_ROADADDRESS=#{aiRoadAddress},
		AI_ROADADDRESSENGLISH=#{aiRoadAddressEnglish},
		AI_ZONECODE=#{aiZoneCode}, AI_BUILDINGNAME=#{aiBuildingName},
		AI_EXTRAADDRESS=#{aiExtraAddress}, AI_DETAILADDRESS=#{aiDetailAddress}
		WHERE UI_NUM = #{uiNum}
	</update>
</mapper>