<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secu.team5.coupon.mapper.CouponTypeInfoMapper">
	<insert id="insertCouponTypeInfo" parameterType="com.secu.team5.coupon.vo.CouponTypeInfoVO">
		INSERT INTO COUPON_TYPE_INFO(CPTI_NAME,CPTI_DESC,CPTI_STATUS,CPTI_CODE,CPTI_DISCOUNT,CPTI_DISCOUNT_RATE,CPTI_CONDITION)
		VALUES(#{cptiName},#{cptiDesc},#{status},#{cptiCode},#{discount},#{discountRate},#{condition})
	</insert>
</mapper>