<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>FBSports 쇼핑몰 관리자 페이지</title>
	<th:block th:replace="fragments/header-script :: header-script-Fragment"></th:block>
</head>

<body>
	<!-- nav header modal script(검색창)-->
	<th:block th:replace="fragments/nav-admin :: nav-Fragment"></th:block>
	<th:block th:replace="fragments/header-fragment-admin :: header-admin-Fragment"></th:block>
	<th:block th:replace="fragments/modal-fragment :: modal-Fragment"></th:block>
	<th:block th:replace="fragments/script-fragment :: script-Fragment"></th:block>

	<h1 style="text-align: center; margin-top: 100px; margin-bottom: 20px;">카테고리 추가하기</h1>
	<div class="container text-center">
		<div>
			<select id="type"  class="form-select">

			</select><br>
			카테고리 이름 <input type="text" id="stiName" placeholder="이름을 적어주세요" class="form-control"> <br>
			카테고리 코드 <input type="text" id="stiCode" placeholder="ex) 0001" class="form-control"> <br>
			<button onclick="insertType()" class="btn btn-primary">추가하기</button>
			<button onclick="history.back()" class="btn btn-danger">취소하기</button>
		</div>
	</div>
	<script>
		window.addEventListener('load', function () {
			const xhr = new XMLHttpRequest();
			xhr.open('GET', '/type-infos');
			xhr.onreadystatechange = function () {
				if (xhr.readyState == 4) {
					if (xhr.status == 200) {
						let html = '';
						html += `<option value="" selected>상품 타입</option>`
						const objs = JSON.parse(xhr.responseText);
						for (let obj of objs) {
							html += `<option value="${obj.tiNum}">${obj.tiName}</option>`;
						}
						document.querySelector('#type').innerHTML = html;
					}
				}
			}
			xhr.send();
		})

		async function insertType() {
			const typeIndex = document.querySelector('#type');

			const data = {
				tiNum: typeIndex.options[typeIndex.selectedIndex].value,
				stiName: document.querySelector('#stiName').value,
				stiCode: document.querySelector('#stiCode').value,
			}

			const res = await fetch('/subType-infos', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			});


			if (res.ok) {
				location.href = '/html/type/type-list';
			} else {
				alert('카테고리 추가 실패');
			}
		}
	</script>
</body>

</html>