@charset "UTF-8";


#login {
	width: 450px;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

div>input {
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
}


.in {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 12px;
	margin: 5px 0;
	width: 100%;
	box-sizing: border-box;

}

.desc {
	text-align: left;
}

.loginBtn,
.joinBtn {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.loginBtn {
	background-color: #58ac6e;
	margin-bottom: 10px;
	color: white;
}

.joinBtn {
	background-color: white;
	margin-bottom: 10px;
	color: black;
	border: 1px solid #ccc;
	padding: 8px;
	text-decoration: none;
	display: inline-block;

}

#login a {
	text-decoration: none;
	color: cornflowerblue;
	font-size: 12px;
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
	text-align: right;
	display: block;
}

.content>table {
	width: 80%;
	text-align: center;
}

.login-content {
	margin-top: 20px;
}