@media(max-width:990px) {


	.sticky {
		position: sticky;
		top: 0px;
		background-color: white;
		box-shadow:none;
		z-index: 999;
	}

	.stickyCategory {
		
		position: sticky;
		z-index: 10;
		top: 74px;
		width: 100%;
		background-color: white;
	}
}