<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.secu.team5.qna.mapper.BoardQnAInfoMapper">

	<!-- 게시물 수정시에 필요한정보값을 뽑아내려고 유저, 상품, 타입, 서브타입을 조인하여 값을뽑아냈음 -->

	<!-- 마이페이지 문의 사항 리스트-->
	<select id="selectBoardInfos" resultType="com.secu.team5.qna.vo.BoardQnAInfoVO">
	SELECT BQI.BQI_NUM, BQI.BQI_TITLE, BQI.BQI_CONTENT, BQI.UI_NUM,
	UI.UI_NAME, PI.PI_NAME, PI.PI_NUM, TI.TI_NAME, 
	TI.TI_NUM, DATE_FORMAT(BQI.BQI_CREDAT, '%Y-%m-%d') CREDAT, TIME_FORMAT(BQI.BQI_CRETIM, '%H:%i:%s') CRETIM, RPI.RPI_CONTENT
    FROM BOARD_QNA_INFO BQI
    INNER JOIN USER_INFO UI ON BQI.UI_NUM = UI.UI_NUM
    LEFT JOIN PRODUCT_INFO PI ON PI.PI_NUM = BQI.PI_NUM 
	LEFT JOIN SUB_TYPE_INFO STI ON STI.STI_NUM = PI.STI_NUM 
	LEFT JOIN TYPE_INFO TI ON TI.TI_NUM = STI.TI_NUM
	LEFT JOIN REPLY_INFO RPI ON RPI.BQI_NUM = BQI.BQI_NUM
	WHERE BQI.UI_NUM = #{uiNum}
	ORDER BY BQI_NUM DESC
	</select>

<!-- 게시물 상세 보기-->
	<select id="selectBoardInfo" resultType="com.secu.team5.qna.vo.BoardQnAInfoVO">
    SELECT * FROM BOARD_QNA_INFO BQI
    INNER JOIN USER_INFO UI ON UI.UI_NUM = BQI.UI_NUM
    LEFT JOIN PRODUCT_INFO PI ON PI.PI_NUM = BQI.PI_NUM 
    LEFT JOIN SUB_TYPE_INFO STI ON STI.STI_NUM = PI.STI_NUM 
    LEFT JOIN TYPE_INFO TI ON TI.TI_NUM = STI.TI_NUM
    LEFT JOIN REPLY_INFO RPI ON RPI.BQI_NUM = BQI.BQI_NUM
    WHERE 
        BQI.BQI_NUM = #{bqiNum};
	</select>
	
	<!-- 게시글 등록-->
	<insert id="insertBoardInfo" useGeneratedKeys="true" keyColumn="BQI_NUM" keyProperty="bqiNum">
		INSERT INTO BOARD_QNA_INFO(UI_NUM,PI_NUM,BQI_TITLE, BQI_CONTENT)
		VALUES(#{uiNum},#{piNum},#{bqiTitle},#{bqiContent})	
	</insert>
	
	<!-- 게시글 수정-->
	<update id="updateBoardInfo" parameterType="com.secu.team5.qna.vo.BoardQnAInfoVO">
		UPDATE BOARD_QNA_INFO
		SET BQI_TITLE = #{bqiTitle},
		BQI_CONTENT = #{bqiContent},
		PI_NUM = #{piNum}
		WHERE BQI_NUM = #{bqiNum}
	</update>

	<!-- 게시글 삭제-->
	<delete id="deleteBoardInfo" parameterType="com.secu.team5.qna.vo.BoardQnAInfoVO">
		DELETE FROM BOARD_QNA_INFO WHERE BQI_NUM=#{bqiNum}
	</delete>

	<!--리스트 조회 및 페이징, 검색 등-->
	<select id="selectBoardInfosWithHelper" resultType="com.secu.team5.qna.vo.BoardQnAInfoVO">
	SELECT BQI.BQI_NUM, BQI.BQI_TITLE, BQI.BQI_CONTENT, BQI.UI_NUM, UI.UI_NAME, PI.PI_NAME, PI.PI_NUM, TI.TI_NAME, TI.TI_NUM,
        DATE_FORMAT(BQI.BQI_CREDAT, '%Y-%m-%d') CREDAT, TIME_FORMAT(BQI.BQI_CRETIM, '%H:%i:%s') CRETIM, RPI.RPI_CONTENT
    FROM BOARD_QNA_INFO BQI
    INNER JOIN USER_INFO UI ON BQI.UI_NUM = UI.UI_NUM
    LEFT JOIN PRODUCT_INFO PI ON PI.PI_NUM = BQI.PI_NUM 
	LEFT JOIN SUB_TYPE_INFO STI ON STI.STI_NUM = PI.STI_NUM 
	LEFT JOIN TYPE_INFO TI ON TI.TI_NUM = STI.TI_NUM
	LEFT JOIN REPLY_INFO RPI ON RPI.BQI_NUM = BQI.BQI_NUM
	<where>
		<if test='bqiTitle != null and bqiTitle != ""'>
        	AND BQI_TITLE LIKE CONCAT('%',#{bqiTitle},'%')
    	</if>
    	<if test='piName != null and piName != ""'>
        	AND PI_NAME LIKE CONCAT('%',#{piName},'%')
    	</if>
    	<if test='tiName != null and tiName != ""'>
			AND TI_NAME LIKE CONCAT('%',#{tiName},'%')
    	</if>
		AND BQI.UI_NUM = #{uiNum}
	</where>
    	ORDER BY BQI.BQI_NUM DESC
</select>
</mapper>